
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de build
dist/
build/

# Logs
*.log

# Ambiente
.env
.env.local
.env.*.local

# IDEs e ferramentas
.idea/
.vscode/
*.swp
*.swo

# Sistemas de teste
coverage/

# Arquivos de cache
*.cache
.cache-loader/

# Outros
.DS_Store
Thumbs.db
